Repository mr-wildcard/lets-share-a-toast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:web, test:functions, preview:web, deploy:web, deploy:functions

test:web:
  stage: test
  image: node:14-alpine
  tags:
  - docker
  - ekino
  - france
  before_script:
  - cd web
  - yarn --frozen-lockfile
  script:
  - NODE_ENV=production yarn build
  cache:
    key:
      files:
      - web/yarn.lock
    paths:
    - web/node_modules
  artifacts:
    paths:
    - firebase/dist
  variables:
  ...

test:functions:
  stage: test
  image: registry.ekino.com/julien.viala/letsshareatoast-v2:firebase-tools
  tags:
  - docker
  - ekino
  - france
  before_script:
  - cd firebase/functions
  - yarn --frozen-lockfile
  script:
  - yarn build
  artifacts:
    paths:
    - firebase/functions/lib
  cache:
    key:
      files:
  ...

preview:web:
  stage: deploy
  image: registry.ekino.com/julien.viala/letsshareatoast-v2:firebase-tools
  tags:
  - docker
  - ekino
  - france
  cache:
    key:
      files:
      - web/yarn.lock
    paths:
    - web/node_modules
  before_script:
  - cd web
  - yarn --frozen-lockfile
  script:
  - yarn build
  - cd ../firebase
  ...

deploy:web:
  tags:
  - docker
  - ekino
  - france
  stage: deploy
  image: registry.ekino.com/julien.viala/letsshareatoast-v2:firebase-tools
  needs:
  - job: test:web
    artifacts: true
  before_script:
  - cd firebase
  script:
  - firebase deploy --only hosting

deploy:functions:
  tags:
  - docker
  - ekino
  - france
  stage: deploy
  image: registry.ekino.com/julien.viala/letsshareatoast-v2:firebase-tools
  needs:
  - job: test:functions
    artifacts: true
  before_script:
  - cd firebase
  - yarn --frozen-lockfile
  script:
  - firebase deploy --only functions
  cache:
    key:
      files:
  ...

chore(web): enable production sourcemap
  web/vite.config.ts
Due: test:web, preview:web, deploy:web

chore(firebase): all routes targets index.html
  firebase/firebase.json
Due: none

Fix/prod bug create toast modal
  .gitlab-ci.yml
  web/src/homepage/modals/TOASTInfos/Form.tsx
Due: test:web, preview:web, deploy:web

chore(docker): upgrade firebase-tools
  docker-compose.yml
  etc/local/Dockerfile
Due: none

chore: upgrade dependencies
  firebase/functions/package.json
  firebase/functions/yarn.lock
  web/package.json
  web/yarn.lock
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

fix(actions): remove clip path once anim finished
  web/src/homepage/TOASTActions.tsx
  web/src/homepage/hooks/useActionsAnimations.ts
Due: test:web, preview:web, deploy:web

refactor: app loader anim
  web/src/App.tsx
  web/src/core/components/AppLoader.tsx
  web/src/core/components/PageSkeleton.tsx
  web/src/header/Header.tsx
Due: test:web, preview:web, deploy:web

refactor: move app loader into its own folder
  web/src/core/components/app-loader/animated-images.tsx
  web/src/core/components/app-loader/index.tsx
  web/src/main.tsx
Due: test:web, preview:web, deploy:web

chore(ci): change job images
  .gitlab-ci.yml
Due: none

chore(ci): correct rule syntax
  .gitlab-ci.yml
Due: none

chore(ci): build docker image in ci
  .gitlab-ci.yml
Due: none

chore(docker): download firebase emulators in docker image
  etc/local/Dockerfile
Due: none

chore(ci): use ekino dind image
  .gitlab-ci.yml
  docker-compose.yml
  web/src/homepage/modals/DeadHeatSubjects.tsx
Due: test:web, preview:web, deploy:web

chore(ci): build image only on Dockerfile change
  .gitlab-ci.yml
Due: none

refactor: deadheat button
  web/src/homepage/modals/DeadHeatSubjects.tsx
Due: test:web, preview:web, deploy:web

chore: build docker image locally
  .gitlab-ci.yml
  docker-compose.yml
Due: none

chore: migrate to yarn 3
  .env.dist
  .eslintrc.json
  .gitignore
  .gitlab-ci.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  docker-compose.yml
  etc/local/Dockerfile
  firebase/functions/package.json
  firebase/functions/yarn.lock
  package.json
  web/package.json
  web/yarn.lock
  yarn.lock
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

chore: do yarn install when docker service starts
  docker-compose.yml
Due: none

fix(form): default date
  web/src/homepage/modals/TOASTInfos/Form.tsx
Due: test:web, preview:web, deploy:web

chore: upgrade dockerfile versions
  .env.dist
  .gitlab-ci.yml
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc.yml
  docker-compose.yml
  etc/local/Dockerfile
  yarn.lock
Due: none

chore: remove quotes in dockerfile env value
  etc/local/Dockerfile
Due: none

feat: vscode
  .vscode/settings.json
Due: none

feat: image size
  web/src/core/components/Image.tsx
  web/src/subjects/components/list/SubjectAddButton.tsx
Due: test:web, preview:web, deploy:web

chore: ignore firebase export
  .gitignore
Due: none

firebase: update default data to import
  etc/local/firebase/firestore-data/auth_export/accounts.json
  etc/local/firebase/firestore-data/database_export/let-s-share-a-toast.json
  etc/local/firebase/firestore-data/firebase-export-metadata.json
  etc/local/firebase/firestore-data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  etc/local/firebase/firestore-data/firestore_export/all_namespaces/all_kinds/output-0
  etc/local/firebase/firestore-data/firestore_export/firestore_export.overall_export_metadata
Due: none

refactor: move bot script to web folder
  web/scripts/bot-voters.js
Due: test:web, preview:web, deploy:web

fix: real time into open votes modal
  web/src/homepage/modals/OpenVotes.tsx
Due: test:web, preview:web, deploy:web

chore: upgrade data in dockerfile
  .env.dist
  .gitlab-ci.yml
  etc/local/Dockerfile
  firebase/functions/package.json
Due: test:functions, deploy:functions

feat: surround with try catch
  web/scripts/bot-voters.js
Due: test:web, preview:web, deploy:web

feat: pass currentToast to votes subjects
  web/src/core/firebase/data/votingSession.ts
  web/src/votes/Subjects.tsx
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

refactor: better intro
  web/src/votes/Subjects.tsx
Due: test:web, preview:web, deploy:web

refactor: initial state
  web/src/votes/Subjects.tsx
Due: test:web, preview:web, deploy:web

feat: add test woa
  web/config/jest/config.js
  web/config/jest/sucraseTransformer.js
  web/package.json
  web/src/core/helpers/__tests__/subjectIsInVotingSession.test.ts
  web/tsconfig.json
  yarn.lock
Due: test:web, preview:web, deploy:web

feat: animate add subject on hover
  web/src/subjects/components/list/SubjectAddButton.tsx
  web/src/votes/Subjects.tsx
Due: test:web, preview:web, deploy:web

feat: better algo for selected subject
  firebase/functions/esbuild.config.js
  firebase/functions/src/index.ts
  firebase/functions/src/init.ts
  firebase/functions/src/toast/close-votes/index.ts
  firebase/functions/src/toast/index.ts
  firebase/functions/src/toast/on-status-changed/index.ts
  firebase/functions/src/toast/on-vote-submitted/index.ts
  firebase/functions/src/toast/open-votes/index.ts
  shared/firebase/database/models/DatabaseTOAST.ts
  shared/firebase/database/models/DatabaseVotingSession.ts
  shared/utils/toast/votes.ts
  web/src/core/firebase/data/votingSession.ts
  web/src/homepage/modals/DeadHeatSubjects.tsx
  web/src/votes/Subjects.tsx
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

refactor: move some votes data into current toast
  firebase/functions/src/toast/close-votes/index.ts
  firebase/functions/src/toast/create/index.ts
  firebase/functions/src/toast/on-vote-submitted/index.ts
  firebase/functions/src/toast/open-votes/index.ts
  shared/firebase/database/models/DatabaseTOAST.ts
  shared/firebase/database/models/DatabaseVotingSession.ts
  shared/tsconfig.json
  web/src/core/firebase/data/currentToast.ts
  web/src/votes/Subjects.tsx
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

feat: people cant vote modal
  web/src/homepage/statuses/OpenForVotes.tsx
  web/src/votes/PeopleCantVoteModal.tsx
  web/src/votes/Subjects.tsx
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

Path conditions:
  test:web: any of: web/**/*
  test:functions: any of: firebase/functions/**/*
  preview:web: any of: web/**/*
  deploy:web: any of: web/**/*
  deploy:functions: any of: firebase/functions/**/*
