Repository mr-wildcard/lets-share-a-toast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:web, test:functions, preview:web, deploy:web, deploy:functions

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

variables:
  DOCKER_IMAGE_NAME: local-dev
  DOCKER_IMAGE_VERSION: 1.0.1
  DOCKER_IMAGE: "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_VERSION}"

image: $DOCKER_IMAGE

before_script:
  - yarn --immutable

cache:
  key:
    files:
      - yarn.lock
  paths:
    - "**/node_modules"
    - .yarn

test:web:
  stage: test
  tags: [ docker, ekino, france ]
  only:
    refs:
      - master
    changes:
      - web/**/*
  script:
    - NODE_ENV=production yarn workspace web build
  artifacts:
    paths:
      - firebase/dist
  variables:
    VITE_FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID}
    VITE_FIREBASE_API_KEY: ${FIREBASE_API_KEY}
    VITE_FIREBASE_AUTH_DOMAIN: ${FIREBASE_AUTH_DOMAIN}
    VITE_FIREBASE_APP_ID: ${FIREBASE_APP_ID}
    VITE_FIREBASE_DATABASE_URL: ${FIREBASE_DATABASE_URL}

test:functions:
  stage: test
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  only:
    refs:
      - master
    changes:
      - firebase/functions/**/*
  script:
    - yarn workspace functions build
  artifacts:
    paths:
      - firebase/functions/lib

preview:web:
  stage: deploy
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS =~ /^FIREBASE PREVIEW$/'
      changes:
        - web/**/*
  needs:
    - job: test:web
      artifacts: true
  script:
    - cd firebase
    - firebase hosting:channel:deploy $CI_COMMIT_REF_NAME
  variables:
    VITE_FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID}
    VITE_FIREBASE_API_KEY: ${FIREBASE_API_KEY}
    VITE_FIREBASE_AUTH_DOMAIN: ${FIREBASE_AUTH_DOMAIN}
    VITE_FIREBASE_APP_ID: ${FIREBASE_APP_ID}
    VITE_FIREBASE_DATABASE_URL: ${FIREBASE_DATABASE_URL}

deploy:web:
  stage: deploy
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  only:
    refs:
      - master
    changes:
      - web/**/*
  needs:
    - job: test:web
      artifacts: true
  before_script:
    - cd firebase
  script:
    - firebase deploy --only hosting

deploy:functions:
  stage: deploy
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  only:
    refs:
    - master
    changes:
    - firebase/functions/**/*
  needs:
    - job: test:functions
      artifacts: true
  script:
    - firebase deploy --only functions

chore: upgrade firebase-tools
  .env.dist
  .gitlab-ci.yml
  etc/local/Dockerfile
Due: none

refactor: dont use isMounted react anti pattern
  web/src/core/components/app-loader/animated-images.tsx
Due: test:web, preview:web, deploy:web

wip: vote page
  web/src/votes/components/SubjectsList.tsx
  web/src/votes/components/UserVotesLeft.tsx
  web/src/votes/components/VotableSubject.tsx
  web/src/votes/index.module.css
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

docs: reset readme
  README.md
Due: none

chore: upgrade docker image version used
  .env.dist
Due: none

chore: docker image 1.0.8
  .env.dist
  .gitlab-ci.yml
Due: none

Review/feat/firebase
  .gitlab-ci.yml
  etc/gitlab/prepare-app-preview.js
  etc/local/Dockerfile
  firebase/.gitlab-ci.yml
  firebase/functions/package.json
  web/.gitlab-ci.yml
  web/package.json
  web/src/App.tsx
  web/src/header/Header.tsx
  web/src/homepage/TOASTActions.tsx
  web/src/homepage/hooks/useActionsAnimations.ts
  web/src/votes/components/PreventUserInteractionsModal.tsx
  web/src/votes/components/SubjectsList.tsx
  web/src/votes/components/UserVotesLeft.tsx
  web/src/votes/index.module.css
  web/src/votes/index.tsx
  yarn.lock
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

fix(ci): cd firebase before using firebase
  firebase/.gitlab-ci.yml
  web/.gitlab-ci.yml
Due: test:web, preview:web, deploy:web

fix(functions): correct firestore wildcard usage
  firebase/functions/src/subjects/on-delete/index.ts
  firebase/functions/src/subjects/on-status-update/index.ts
Due: test:functions, deploy:functions

fix(button): size scroll
  web/src/homepage/actions/CloseVotes.tsx
Due: test:web, preview:web, deploy:web

fix(scroll): from modal
  web/src/homepage/modals/TOASTInfos/index.tsx
Due: test:web, preview:web, deploy:web

fix(button) min height
  web/src/homepage/modals/TOASTInfos/Form.tsx
  web/src/subjects/components/list/SubjectAddButton.tsx
Due: test:web, preview:web, deploy:web

chore: add gcloud to docker image + upgrade dependencies
  .env.dist
  .gitlab-ci.yml
  etc/local/Dockerfile
Due: none

chore: remove yarn from dockerfile
  .env.dist
  .gitlab-ci.yml
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  etc/local/Dockerfile
  package.json
  yarn.lock
Due: none

fix: on end toast set not given subjects back to available
  firebase/functions/src/subjects/on-status-update/index.ts
  firebase/functions/src/toast/end/index.ts
  firebase/functions/src/toast/resolve-deadheat-subjects/index.ts
  web/src/homepage/modals/EndTOAST.tsx
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

feat: implement max selectable subjects and max votes per user
  web/src/core/helpers/timing.ts
  web/src/homepage/modals/TOASTInfos/Form.tsx
  web/src/homepage/modals/TOASTInfos/index.tsx
Due: test:web, preview:web, deploy:web

chore: upgrade dependencies
  firebase/functions/package.json
  web/package.json
  yarn.lock
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

chore: upgrade dependencies
  firebase/functions/esbuild.config.js
  firebase/functions/package.json
  package.json
  web/package.json
  yarn.lock
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

refactor: remove unused files
  shared/enums/ClientSideVoteEvent.ts
  shared/enums/FirebaseCollections.ts
  shared/enums/URLQueryParams.ts
  shared/enums/WebSocketNamespaces.ts
  shared/enums/index.ts
Due: none

feat: colored shapes in background
  web/src/App.tsx
  web/src/core/components/AnimatedShapes.tsx
  web/src/core/components/ColoredBackground.tsx
  web/src/core/components/Page.tsx
  web/src/core/components/hooks/useDebouncedCallback.ts
  web/src/core/constants.ts
  web/src/homepage/index.tsx
  web/src/subjects/index.tsx
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

refactor: remove voting page specific styles
  web/src/Main.tsx
  web/src/core/components/ColoredBackground.tsx
Due: test:web, preview:web, deploy:web

fix: 404 page colored background
  web/src/App.tsx
  web/src/pages/PageNotFound.tsx
Due: test:web, preview:web, deploy:web

refactor: syntax
  web/src/Main.tsx
  web/src/homepage/TOASTActions.tsx
Due: test:web, preview:web, deploy:web

refactor: move vote action into custom hook
  web/src/votes/components/SubjectsList.tsx
  web/src/votes/hooks/useVote.ts
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

refactor: rename firebase methods
  web/src/core/components/app-loader/index.tsx
  web/src/core/firebase/data/index.ts
  web/src/index.tsx
  web/src/votes/components/SubjectsList.tsx
Due: test:web, preview:web, deploy:web

fix: ts error
  web/src/core/components/app-loader/animated-images.tsx
Due: test:web, preview:web, deploy:web

chore: remove vite config logs
  web/vite.config.ts
Due: test:web, preview:web, deploy:web

refactor: remove firebase preview POC
  etc/gitlab/prepare-app-preview.js
  web/.gitlab-ci.yml
Due: test:web, preview:web, deploy:web

refactor: ts type name
  web/src/subjects/types.ts
Due: test:web, preview:web, deploy:web

refactor: use helper for subjectIsOld
  web/src/subjects/components/list/item/SubjectItem.tsx
  web/src/subjects/helpers.ts
Due: test:web, preview:web, deploy:web

refactor: remove subject/components/list/ folder
  web/src/subjects/components/SubjectAddButton.tsx
  web/src/subjects/components/SubjectForm/Form.tsx
  web/src/subjects/components/SubjectsList.tsx
  web/src/subjects/components/filters/FilterSearch.module.css
  web/src/subjects/components/filters/FilterSearch.tsx
  web/src/subjects/components/filters/FilterSubjectStatus.tsx
  web/src/subjects/components/item/ContextMenuItem.tsx
  web/src/subjects/components/item/SubjectDurationBadge.tsx
  web/src/subjects/components/item/SubjectItem.module.css
  web/src/subjects/components/item/SubjectItem.tsx
  web/src/subjects/components/item/SubjectLanguageBadge.tsx
  web/src/subjects/components/item/SubjectNewBadge.tsx
  web/src/subjects/components/item/SubjectSpeakers.tsx
  web/src/subjects/components/item/SubjectStatusBadge.tsx
  web/src/subjects/components/modals/SubjectInfoBadges.tsx
  web/src/subjects/components/modals/ViewSubjectModal.tsx
  web/src/subjects/index.tsx
Due: test:web, preview:web, deploy:web

feat: install script
  etc/local/install.sh
Due: none

chore: upgrade dependencies script
  etc/local/upgrade-dependencies.sh
Due: none

docs: stuff README
  README.md
Due: none

chore: add shebang
  etc/local/install.sh
  etc/local/upgrade-dependencies.sh
Due: none

docs: rewording
  README.md
Due: none

Update README.md
  README.md
Due: none
