Repository mr-wildcard/lets-share-a-toast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:web, test:functions, preview:web, deploy:web, deploy:functions

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

variables:
  DOCKER_IMAGE_NAME: local-dev
  DOCKER_IMAGE_VERSION: 1.0.1
  DOCKER_IMAGE: "${CI_REGISTRY_IMAGE}/${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_VERSION}"

image: $DOCKER_IMAGE

before_script:
  - yarn --immutable

cache:
  key:
    files:
      - yarn.lock
  paths:
    - "**/node_modules"
    - .yarn

test:web:
  stage: test
  tags: [ docker, ekino, france ]
  only:
    refs:
      - master
    changes:
      - web/**/*
  script:
    - NODE_ENV=production yarn workspace web build
  artifacts:
    paths:
      - firebase/dist
  variables:
    VITE_FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID}
    VITE_FIREBASE_API_KEY: ${FIREBASE_API_KEY}
    VITE_FIREBASE_AUTH_DOMAIN: ${FIREBASE_AUTH_DOMAIN}
    VITE_FIREBASE_APP_ID: ${FIREBASE_APP_ID}
    VITE_FIREBASE_DATABASE_URL: ${FIREBASE_DATABASE_URL}

test:functions:
  stage: test
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  only:
    refs:
      - master
    changes:
      - firebase/functions/**/*
  script:
    - yarn workspace functions build
  artifacts:
    paths:
      - firebase/functions/lib

preview:web:
  stage: deploy
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS =~ /^FIREBASE PREVIEW$/'
      changes:
        - web/**/*
  needs:
    - job: test:web
      artifacts: true
  script:
    - cd firebase
    - firebase hosting:channel:deploy $CI_COMMIT_REF_NAME
  variables:
    VITE_FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID}
    VITE_FIREBASE_API_KEY: ${FIREBASE_API_KEY}
    VITE_FIREBASE_AUTH_DOMAIN: ${FIREBASE_AUTH_DOMAIN}
    VITE_FIREBASE_APP_ID: ${FIREBASE_APP_ID}
    VITE_FIREBASE_DATABASE_URL: ${FIREBASE_DATABASE_URL}

deploy:web:
  stage: deploy
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  only:
    refs:
      - master
    changes:
      - web/**/*
  needs:
    - job: test:web
      artifacts: true
  before_script:
    - cd firebase
  script:
    - firebase deploy --only hosting

deploy:functions:
  stage: deploy
  image: $DOCKER_IMAGE
  tags: [ docker, ekino, france ]
  only:
    refs:
    - master
    changes:
    - firebase/functions/**/*
  needs:
    - job: test:functions
      artifacts: true
  script:
    - firebase deploy --only functions

fix: more efficient cloud function for selected subjects
  firebase/functions/src/toast/on-vote-submitted/index.ts
Due: test:functions, deploy:functions

chore: fix docke firebase export on exit
  .env.dist
  .gitlab-ci.yml
  docker-compose.yml
  etc/local/Dockerfile
Due: none

refactor: compute selected subject client side for perf sake
  firebase/functions/src/toast/index.ts
  firebase/functions/src/toast/on-vote-submitted/index.ts
  web/src/votes/PeopleCantVoteModal.tsx
  web/src/votes/Subjects.tsx
  web/src/votes/index.tsx
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

refactor: useMemo for selected subject client side
  web/src/votes/Subjects.tsx
Due: test:web, preview:web, deploy:web

feat: loader
  web/src/core/components/app-loader/index.tsx
  web/src/core/firebase/data/index.ts
  web/src/core/firebase/data/subjects.ts
Due: test:web, preview:web, deploy:web

fix: mini visual fixes
  web/src/homepage/statuses/WaitingForTOAST.tsx
  web/src/subjects/components/list/SubjectAddButton.tsx
  web/src/votes/PeopleCantVoteModal.tsx
Due: test:web, preview:web, deploy:web

refactor: remove animation view subject modal
  web/src/subjects/components/modals/ViewSubjectModal.tsx
Due: test:web, preview:web, deploy:web

refactor: remove action
  web/src/homepage/TOASTStatus.tsx
  web/src/homepage/statuses/VoteClosed.tsx
Due: test:web, preview:web, deploy:web

feat: dead heat subject selectable subject
  shared/utils/toast/votes.ts
  web/src/core/helpers/getSubjectSpeakersAsText.ts
  web/src/homepage/modals/DeadHeatSubjects.tsx
  web/src/homepage/modals/deadHeatSubjects/SelectableSubject.tsx
  web/src/subjects/components/list/item/SubjectSpeakers.tsx
Due: test:web, preview:web, deploy:web

chore: upgrade dependencies
  firebase/functions/package.json
  web/package.json
  yarn.lock
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

chore: upgrade node version
  .env.dist
  .gitlab-ci.yml
  etc/local/Dockerfile
Due: none

feat: migrate to firebase 9
  web/package.json
  web/src/core/firebase/data/currentToast.ts
  web/src/core/firebase/data/index.ts
  web/src/core/firebase/data/subjects.ts
  web/src/core/firebase/data/users.ts
  web/src/core/firebase/data/votingSession.ts
  web/src/core/firebase/emulators.ts
  web/src/core/firebase/helpers.ts
  web/src/core/firebase/index.ts
  web/src/homepage/modals/CancelTOAST.tsx
  web/src/homepage/modals/CloseVotes.tsx
  web/src/homepage/modals/DeadHeatSubjects.tsx
  web/src/homepage/modals/EndTOAST.tsx
  web/src/homepage/modals/MarkTOASTAsReady.tsx
  web/src/homepage/modals/OpenVotes.tsx
  web/src/homepage/modals/TOASTInfos/Form.tsx
  web/src/subjects/components/SubjectForm/Form.tsx
  web/src/subjects/components/SubjectForm/helpers.ts
  web/src/subjects/components/list/item/SubjectItem.tsx
  web/src/votes/Subjects.tsx
  yarn.lock
Due: test:web, preview:web, deploy:web

refactor: img placement
  web/src/homepage/modals/EndTOAST.tsx
Due: test:web, preview:web, deploy:web

feat: alert about subject deletion if selected for next toast
  web/src/core/helpers/subjectIsSelectedForNextTOAST.ts
  web/src/homepage/statuses/SelectedSubjectsList.tsx
  web/src/homepage/statuses/WaitingForTOAST.tsx
  web/src/subjects/components/list/item/SubjectItem.tsx
  web/src/subjects/components/modals/DeleteSubjectModal.tsx
Due: test:web, preview:web, deploy:web

are u testing me?
  web/src/pages/PageNotFound.tsx
Due: test:web, preview:web, deploy:web

feat: add highly anticipated animation
  web/src/votes/PeopleCantVoteModal.module.css
  web/src/votes/PeopleCantVoteModal.tsx
Due: test:web, preview:web, deploy:web

feat: simplify vote page init
  web/src/votes/LoadingError.tsx
  web/src/votes/Subjects.tsx
  web/src/votes/SubjectsList.tsx
  web/src/votes/VotableSubject.tsx
  web/src/votes/index.tsx
  web/src/votes/types.ts
Due: test:web, preview:web, deploy:web

feat: prevent subject deletion if selected
  firebase/functions/src/toast/create/index.ts
  shared/firebase/database/models/DatabaseTOAST.ts
  shared/firebase/database/models/DatabaseVotingSession.ts
  shared/models/Toast.ts
  tsconfig.base.json
  web/src/core/firebase/data/currentToast.ts
  web/src/core/firebase/data/subjects.ts
  web/src/core/firebase/helpers.ts
  web/src/core/helpers/subjectIsInVotingSession.ts
  web/src/core/helpers/subjectIsSelectedForNextTOAST.ts
  web/src/homepage/TOASTStatus.tsx
  web/src/homepage/helpers.ts
  web/src/homepage/modals/DeadHeatSubjects.tsx
  web/src/homepage/modals/EndTOAST.tsx
  web/src/homepage/statuses/VoteClosed.tsx
  web/src/homepage/statuses/WaitingForTOAST.tsx
  web/src/subjects/components/list/item/SubjectItem.tsx
  web/src/subjects/components/modals/DeleteSubjectModal.tsx
  web/src/subjects/index.tsx
  web/src/votes/LoadingError.tsx
  web/src/votes/VotableSubject.tsx
  web/tsconfig.json
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

feat: prevent changing status of selected subject
  web/src/subjects/components/SubjectForm/Form.tsx
  web/src/subjects/components/SubjectForm/index.tsx
  web/src/subjects/index.tsx
Due: test:web, preview:web, deploy:web

feat: new subject status & handle toast cancel while on vote page
  firebase/functions/src/helpers/changeMultipleSubjectsStatusAtOnce.ts
  firebase/functions/src/subjects/index.ts
  firebase/functions/src/toast/cancel/cancelled-after-votes.ts
  firebase/functions/src/toast/cancel/cancelled-while-voting.ts
  firebase/functions/src/toast/cancel/index.ts
  firebase/functions/src/toast/close-votes/index.ts
  firebase/functions/src/toast/end/index.ts
  firebase/functions/src/toast/index.ts
  firebase/functions/src/toast/on-status-changed/index.ts
  shared/enums/SubjectStatus.ts
  tsconfig.base.json
  web/src/core/firebase/data/currentToast.ts
  web/src/core/helpers/subjectIsSelectedForNextTOAST.ts
  web/src/homepage/modals/CancelTOAST.tsx
  web/src/homepage/modals/OpenVotes.tsx
  web/src/subjects/components/SubjectForm/Form.tsx
  web/src/subjects/components/list/filters/FilterSubjectStatus.tsx
  web/src/subjects/components/list/item/SubjectItem.tsx
  web/src/subjects/components/list/item/SubjectStatusBadge.tsx
  web/src/subjects/types.ts
  web/src/votes/index.tsx
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

chore: upgrade dockerfle
  .env.dist
  .gitlab-ci.yml
  etc/local/Dockerfile
Due: none

refactor: statuses components folder
  web/src/homepage/TOASTStatus.tsx
  web/src/homepage/statuses/OpenForContributions.tsx
  web/src/homepage/statuses/OpenForVotes.tsx
  web/src/homepage/statuses/VoteClosed.tsx
  web/src/homepage/statuses/WaitingForTOAST.tsx
  web/src/homepage/statuses/components/FloralSeparator.tsx
  web/src/homepage/statuses/components/ProposeSubjectForNextTOASTButton.tsx
  web/src/homepage/statuses/components/SelectedSubjectsList.tsx
  web/src/homepage/statuses/components/TOASTDateHasPassed.tsx
  web/src/homepage/statuses/components/TOASTIsToday.tsx
  web/src/homepage/statuses/components/WhosInChargeRecap.tsx
Due: test:web, preview:web, deploy:web

feat: cancel is a cloud function & some refactor yolo
  firebase/functions/src/helpers/getCurrentTOAST.ts
  firebase/functions/src/subjects/index.ts
  firebase/functions/src/subjects/on-delete/index.ts
  firebase/functions/src/subjects/on-status-update/index.ts
  firebase/functions/src/toast/cancel/cancelled-while-voting.ts
  firebase/functions/src/toast/cancel/index.ts
  firebase/functions/src/toast/close-votes/index.ts
  firebase/functions/src/toast/resolve-deadheat-subjects/index.ts
  firebase/functions/tsconfig.json
  shared/firebase/functions/enum/CloudFunctionName.ts
  web/src/core/firebase/helpers.ts
  web/src/homepage/modals/CancelTOAST.tsx
  web/src/homepage/modals/DeadHeatSubjects.tsx
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

feat: use mobx computed values
  web/src/core/components/app-loader/index.tsx
  web/src/core/firebase/data/index.ts
  web/src/homepage/actions/OpenVotes.tsx
  web/src/homepage/modals/OpenVotes.tsx
  web/src/votes/SubjectsList.tsx
Due: test:web, preview:web, deploy:web

refactor: use helper
  firebase/functions/src/toast/cancel/index.ts
Due: test:functions, deploy:functions

feat: add modal for each vote page display states
  firebase/functions/src/toast/close-votes/index.ts
  web/src/votes/components/modals/PreventUserInteractionsModal.module.css
  web/src/votes/components/modals/PreventUserInteractionsModal.tsx
  web/src/votes/index.tsx
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

feat: add creation date to subject view
  web/src/subjects/components/modals/ViewSubjectModal.tsx
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

feat: user total votes
  firebase/functions/src/toast/cancel/cancelled-after-votes.ts
  firebase/functions/src/toast/create/index.ts
  shared/firebase/database/models/DatabaseTOAST.ts
  shared/firebase/database/models/DatabaseVotingSession.ts
  shared/utils/toast/votes.ts
  web/src/core/firebase/data/index.ts
  web/src/votes/SubjectsList.tsx
  web/src/votes/index.tsx
  web/src/votes/stores/ClientSideVotingSession.ts
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

refactor: votes folder
  web/src/votes/components/PreventUserInteractionsModal.module.css
  web/src/votes/components/PreventUserInteractionsModal.tsx
  web/src/votes/components/SubjectsList.tsx
  web/src/votes/components/VotableSubject.tsx
  web/src/votes/index.tsx
  web/src/votes/stores/ClientSideVotingSession.ts
Due: test:web, preview:web, deploy:web

feat: voting session!!!!!!!!!!!!!!!!!!!!!
  web/index.html
  web/src/App.tsx
  web/src/Main.tsx
  web/src/core/components/ColoredBackground.tsx
  web/src/core/components/app-loader/index.tsx
  web/src/header/Header.tsx
  web/src/index.tsx
  web/src/votes/components/SubjectsList.tsx
  web/src/votes/components/VotableSubject.tsx
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

feat: wait for voting session also to load app
  web/src/index.tsx
Due: test:web, preview:web, deploy:web

fix: homepage actions padding
  web/src/homepage/TOASTActions.tsx
Due: test:web, preview:web, deploy:web

feat(functions): log something when esbuild ready
  firebase/functions/esbuild.config.js
Due: test:functions, deploy:functions

chore: upgrade dependencies
  firebase/functions/package.json
  web/package.json
  web/src/homepage/modals/TOASTInfos/Form.tsx
  web/src/subjects/components/SubjectForm/Form.tsx
  yarn.lock
Due: test:web, test:functions, preview:web, deploy:web, deploy:functions

feat: typings react select
  web/src/homepage/modals/TOASTInfos/Form.tsx
Due: test:web, preview:web, deploy:web

feat(votes): give height to page
  web/src/App.tsx
  web/src/Main.tsx
  web/src/core/theme.ts
  web/src/votes/index.tsx
Due: test:web, preview:web, deploy:web

refactor(apploader): no lazy load
  web/src/core/components/app-loader/index.tsx
Due: test:web, preview:web, deploy:web

fix: loading app
  web/src/core/components/app-loader/index.tsx
  web/src/core/firebase/data/index.ts
Due: test:web, preview:web, deploy:web

fix: 404 page
  web/src/App.tsx
Due: test:web, preview:web, deploy:web
